/* BORDER CUSTOM */

.borderCustom:hover {
	box-shadow: 5px 10px 20px 1px rgba(13, 0, 255, 0.273) !important;
  	transition: all 0.2s linear;
}

/* IMAGE CUSTOM */

.overflow {
	overflow: hidden;
  }

.img-animada {
	transform: scale(1);
	transition: all 0.3s ease-in-out;
  }
  
.img-animada:hover {
	transform: scale(1.2);
}