.logoFooter {
    width: 140px;
}

.container .footer__redes svg {
    color: white;
    font-size: 2rem;
}

.container .footer__redes svg:hover {
  scale: 1.2;
  transition: all 0.7;
}

.footer__text {
    color:aliceblue;
}

.redes_face {
  padding: 3px;
  background-color: blue;
}

.redes_instagram {
  padding: 3px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.redes_youtube {
  padding: 3px;
  background-color: red;
}